/* media Query */
/* Extra Small Devices (Mobile Phones) */
@media (max-width: 576px) {
    .banner img {
      display: none;
    }
    
  
  }
  /* Small Devices (Tablets): 577 pixels to 768 pixels  */
  @media (min-width: 577px) and (max-width: 768px) {
    .banner img {
      display: none;
    }
    
  }
  
   /* Styles for medium devices (laptops) */
  @media (min-width: 769px) and (max-width: 992px) {
    .banner img {
      display: none;
    }
  }
  
  /* Styles for large devices (desktops) */
  @media (min-width: 993px) and (max-width: 1200px) {
    
  }
  
    /* Styles for extra large devices (large desktops) */
  @media (min-width: 1201px) {
  
  }
  
   /* Styles for high-density (Retina) displays */
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
   
  }
  
  @media (orientation: portrait) {
    /* Styles for portrait orientation */
  }
  
  @media (orientation: landscape) {
    /* Styles for landscape orientation */
  }