

/* --------------CSS effect on Default tag/ element example(html,*,body,a,h1-h6,ul,button,ol,p,li,img) ------------------- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  scroll-padding: 75px;
}

body{
 overflow-x: hidden;
 background-color: #121212 !important;
 color: #fff;
 font-weight: 400px;
 position: relative;
 font-family: 'Centra', sans-serif !important;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,a,ul,li,ol{
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

img{
  width: 100%;
  height: auto;
}

button{
  border: 0;
  background-color: transparent;
}
p.sccess{
  color: green;
}
p.danger{
  color: red;
}
input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}


/* ------------------------------------------------- NavBar css Effects includes ( )--------------------------- */
.navbar{
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
}

.navbar .scrolled{
  padding: 0;
  background-color: #121212;
}

/* .navbar a .navbar-brand{
  width: 9%;
} */

.NavDropdown{
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}


.navbar .navbar-nav .nav-link.navbar-link,.custom-dropdown .nav-link {
  font-weight: 300;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 16px;
  opacity: 0.75;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active,
.custom-dropdown .nav-link:hover,
.custom-dropdown .nav-link.active {
    opacity: 1;
}

span.navbar-text {
  display: flex;
  align-items: center;
}

.navbar-text button {
  border: none;
  display: block;
  position: relative;
  padding: 0.7em 2.4em;
  font-size: 18px;
  background: transparent;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  color: royalblue;
  z-index: 1;
  font-family: inherit;
  font-weight: 500;
}

.navbar-text button span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
  border: 4px solid royalblue;
}

.navbar-text button span::before {
  content: "";
  display: block;
  position: absolute;
  width: 8%;
  height: 500%;
  background: var(--lightgray);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
  transition: all 0.3s;
}

.navbar-text button:hover span::before {
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 100%;
  background: royalblue;
}

.navbar-text button:hover {
  color: white;
}

.navbar-text button:active span::before {
  background: #2751cd;
}



