/* The Css style of this page start fron line 105. this just animation */
.three-body {
  --uib-size: 35px;
  --uib-speed: 0.8s;
  --uib-color: #5D3FD3;
  position: relative;
  display: inline-block;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
 }
 
 .three-body__dot {
  position: absolute;
  height: 100%;
  width: 30%;
 }
 
 .three-body__dot:after {
  content: '';
  position: absolute;
  height: 0%;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--uib-color);
  border-radius: 50%;
 }
 
 .three-body__dot:nth-child(1) {
  bottom: 5%;
  left: 0;
  transform: rotate(60deg);
  transform-origin: 50% 85%;
 }
 
 .three-body__dot:nth-child(1)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite ease-in-out;
  animation-delay: calc(var(--uib-speed) * -0.3);
 }
 
 .three-body__dot:nth-child(2) {
  bottom: 5%;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: 50% 85%;
 }
 
 .three-body__dot:nth-child(2)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite
     calc(var(--uib-speed) * -0.15) ease-in-out;
 }
 
 .three-body__dot:nth-child(3) {
  bottom: -5%;
  left: 0;
  transform: translateX(116.666%);
 }
 
 .three-body__dot:nth-child(3)::after {
  top: 0;
  left: 0;
  animation: wobble2 var(--uib-speed) infinite ease-in-out;
 }
 
 @keyframes spin78236 {
  0% {
   transform: rotate(0deg);
  }
 
  100% {
   transform: rotate(360deg);
  }
 }
 
 @keyframes wobble1 {
  0%,
   100% {
   transform: translateY(0%) scale(1);
   opacity: 1;
  }
 
  50% {
   transform: translateY(-66%) scale(0.65);
   opacity: 0.8;
  }
 }
 @keyframes wobble2 {
  0%,
   100% {
   transform: translateY(0%) scale(1);
   opacity: 1;
  }
  50% {
   transform: translateY(66%) scale(0.65);
   opacity: 0.8;
  }
 }
 


/* --------------CSS effect on Default tag/ element example(html,*,body,a,h1-h6,ul,button,ol,p,li,img) ------------------- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  scroll-padding: 75px;
}

body{
 overflow-x: hidden;
 background-color: #121212 !important;
 color: #fff;
 font-weight: 400px;
 position: relative;
 font-family: 'Centra', sans-serif !important;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,a,ul,li,ol{
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

img{
  width: 100%;
  height: auto;
}

button{
  border: 0;
  background-color: transparent;
}
p.sccess{
  color: green;
}
p.danger{
  color: red;
}
input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}


/* ------------------------------------------------- NavBar css Effects includes ( )--------------------------- */
.navbar{
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
}

.navbar .scrolled{
  padding: 0;
  background-color: #121212;
}

/* .navbar a .navbar-brand{
  width: 9%;
} */

.navbar-toggler .navbar-toggler-icon {
  color:black !important;
  background-color: #fff !important;
  border-radius: 5px;
  
}

.NavDropdown{
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}


.navbar .navbar-nav .nav-link.navbar-link,.custom-dropdown .nav-link {
  font-weight: 300;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 16px;
  opacity: 0.75;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active,
.custom-dropdown .nav-link:hover,
.custom-dropdown .nav-link.active {
    opacity: 1;
}

span.navbar-text {
  display: flex;
  align-items: center;
}
/* ---------------------- Navbar button code start from here ----------------------------- */
.navbar-text button {
  border: none;
  display: block;
  position: relative;
  padding: 0.7em 2.4em;
  font-size: 18px;
  background: transparent;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  color: whitesmoke;
  z-index: 1;
  font-family: inherit;
  font-weight: 500;
}

.navbar-text button span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
  border: 4px solid royalblue;
}

.navbar-text button span::before {
  content: "";
  display: block;
  position: absolute;
  width: 8%;
  height: 500%;
  background: var(--lightgray);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
  transition: all 0.3s;
}

.navbar-text button:hover span::before {
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 100%;
  background: royalblue;
}

.navbar-text button:hover {
  color: white;
}

.navbar-text button:active span::before {
  background: #2751cd;
}



/* --------------------------------- Banner Section ------------------------------------------------------------------------------*/
.banner {
  margin-top: 0;
  padding: 100px 0 100px 0;
  background-image: url('./images/img/banner-bg.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 0px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.banner p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}


.button {
  transform: rotate(-15deg) skew(25deg);
  transform-style: preserve-3d;
  position: relative;
  list-style: none;
  width: 140px;
  height: 32px;
  padding: 10px;
  border: none;
  background: transparent;
  font-family: inherit;
  cursor: pointer;
}

.button:before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: -5px;
  width: 100%;
  height: 10px;
  /* background: #2a2a2a; */
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  transform: skewX(-41deg);
}

.button:after {
  content: '';
  position: absolute;
  top: 5px;
  left: -9px;
  width: 9px;
  height: 100%;
  background: #2a2a2a;
  transform: skewY(-49deg);
}

.button span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2a2a2a;
  color: #fff;
  font-size: 20px;
  transition: 1.1s ease-out;
}

.button:hover span {
  z-index: 1000;
  transition: .3s;
  color: #fff;
}

.button:hover span:nth-child(5) {
  transform: translate(40px, -40px);
  opacity: 1;
}

.button:hover span:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: .8;
}

.button:hover span:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: .6;
}

.button:hover span:nth-child(2) {
  transform: translate(10px, -10px);
  opacity: .4;
}

.button:hover span:nth-child(1) {
  transform: translate(0px, 0px);
  opacity: .2;
}

.button:active span:nth-child(5) {
  transform: translate(20px, -20px);
  opacity: 1;
}

.button:active span:nth-child(4) {
  transform: translate(15px, -15px);
}

.button:active span:nth-child(3) {
  transform: translate(10px, -10px);
}

.button:active span:nth-child(2) {
  transform: translate(5px, -5px);
}

.button:active span:nth-child(1) {
  transform: translate(0px, 0px);
}

.button:nth-child(1):hover span {
  background: #52E19F;
}

.navbar-collapse-custom {
  background-color: blue !important;
  padding: 20px;

}

.navbar-collapse-custom .me-auto{
  margin-bottom: 30px;
}


.banner img {
  animation: updown 3s linear infinite;
}
@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}
